name: Deploy Planete to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Récupérer le code
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Installer Node.js
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      # 3. Installer les dépendances
      - name: Install dependencies
        run: npm install

      # 4. Construire le site (build)
      - name: Build project
        run: npm run build

      # 5. Préparer GitHub Pages
      - name: Setup Pages
        uses: actions/configure-pages@v5

      # 6. Envoyer le dossier final (dist)
      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: dist

      # 7. Déployer
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
